INVENTSUM = 'CHANGE-ME'
INVENTDIM = 'CHANGE-ME'
INVENTTABLE = 'CHANGE-ME'
INVENTITEMPRICE = 'CHANGE-ME'
DB_SERVERNAME="CHANGE-ME"
DB_DATABASENAME="CHANGE-ME"
DB_USERID="CHANGE-ME"
DB_PASSWORD="CHANGE-ME"